@using NewsLetterAppMVC.ViewModels

@model List<SignupVM>

<!-- This page takes all signups and displays right here so the admin can view it-->
<div class="row no-gutters m-3">
    <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto-shadow">
        <div class="card-header text-center">
            <h5>"m-0"Sing-Ups</h5>
        </div>
        <div class="card-body">
            @foreach (var signUp in Model)
            {
                //  This creates a separate row for each signup and to that, we need to loop through, but a logic is also needed to grab all these from database which is written in HomeController.cs
                <div class="row">

                    <div class="col">
                        @signUp.FirstName
                    </div>

                    <div class="col">
                        @signUp.LastName
                    </div>

                    <div class="col">
                        @signUp.Email
                    </div>

                </div>
            }
        </div>
    </div>
</div>


